# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

/dataset
/runs_org
/wandb_org
/runs
/wandb

**/*.zip
**/*.pt

**/*.tar.gz
